.main{
    width: 25%;
    background: #8855F4;
    height: 100vh;
    display: flex; 
    flex-direction: column;


}
.main div{
    flex: 1;
}

.logo h2{
    color: white;
    font-size: 2.5rem;
    font-weight: 500;
    font-family: 'Poppins';
    margin-left: 2rem;

}

.item{
    display: flex;
    flex-direction: column;
  
    margin-left: 2rem;
    gap: 1.35rem;
}
.item a{
    font-family: 'Poppins';
    font-size: 1.75rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.80);
    text-decoration: none;
    
}

.line{
    width: 85%;  
    margin: 2rem auto;
  background: rgba(255, 255, 255, 0.50);
  
    height: 0.3125rem;
    
    
}

.lowercontent{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: flex-end;
}

.logout{
    text-align: center;
}